body {
  font-family: "Poppins", sans-serif;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}

div.buttons {
  padding-top: 25px;
  text-align: center;
}

button {
  height: 75px;
  width: 300px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: large;
}

div.devinfo {
  padding-top: 25px;
  text-align: center;
}

button {
  margin: 10px;
}
